<div class="alert alert-info text-center" id="footer">Noticias - Fabio</div>

<script src="/lib/pmdynaform/libs/jquery/jquery-1.11.js"></script>
<script src="/lib/pmdynaform/libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="/plugin/noticia/js/script.js"></script>
</body>
</html>