<!DOCTYPE html>
<html lang="es">
<head>
<title>{$title}</title>
<link rel="stylesheet" href="/lib/pmdynaform/libs/bootstrap-3.1.1/css/bootstrap.min.css">
<link rel='stylesheet' href="/plugin/noticia/css/style.css" type="text/css"/>
</head>
