﻿<div id="divMain" style="margin: 1em;"></div>
<iframe name="frameMain" id="frameMain" src="../noticia/noticiaApplication4.php" width="99%" height="750" frameborder="0" style="height: 600px;">
  &lt;p&gt;Your browser does not support iframes.&lt;/p&gt;
</iframe>